#header_bar {
	border:1px solid red;
	height:100px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

.header {
	display:inline-block;
}

#title_container {
	height:100%;
	width:1035px;
	border:1px solid gold;
	text-align:center;
	float:left;
}

#title {
	color: red;
	font-family:"Comic Sans MS";
	font-size:5.25em;
	margin:auto;
	line-height:100%;
}

/*Is it possible to put the 
 *images in a second class? */
#left_pic {
	vertical-align:top;
	width:80px;
	height:100%;
	float:left;
}

#right_pic {
	vertical-align:top;
	width:80px;
	height:100%;
	float:right;
}

#container {
	border: 2px solid black;
	width: 1200px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

#table {
	width:100%;
}

#user_input {
	border: 1px solid blue;
	height: 100%;
	width: 60%;
	float: left;
}

#answer {
	border: 1px solid green;
	height: 100%;
}
